.p-megamenu-panel {
  border: none !important;
  border-radius: 10px;
  box-shadow: 0px 15px 50px -12px rgba(0, 0, 0, 0.1) !important;
}

.p-megamenu-panel:hover {
  z-index: 3050;
}

.p-menuitem-link:hover {
  background: aliceblue !important;
}
