---
// Core
import "primeflex/primeflex.css";
import "primeicons/primeicons.css";
import "primereact/resources/primereact.min.css";
// Fonts
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

// Components
import AppFooter from "../components/thinks/AppFooter.astro";
import AppBottomBar from "../components/navigation/AppBottomBar";
import AppTopBar from "../components/navigation/AppTopBar.astro";
import * as button from "primereact/button/button.esm";
const { Button } = button;
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Fonts -->
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"
    />

    <!-- CSS -->
    <script
      id="app-theme"
      type="module"
      src="/node_modules/primereact/resources/themes/bootstrap4-light-blue/theme.css"
    ></script>
    <script
      id="primeflex"
      type="module"
      src="/node_modules/primeflex/primeflex.css"></script>
  </head>
  <body>
    <div class="relative">
      <AppTopBar />
      <main>
        <slot />
      </main>
      <AppFooter />
      <a href="#" class="scroll-to-top">
        <Button
          label="Scroll to top"
          icon="pi pi-arrow-up"
          className="bg-green-400 hover:border-green-600 hover:bg-green-500 border-green-400"
          rounded
        /></a
      >
    </div>

    <style is:global>
      @font-face {
        font-family: "SolarVestaScript";
        src: url("/fonts/Solar Vesta Script.tff") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: "Source Sans Pro", "Arial", sans-serif;
        background-color: #f6f6f6;
        scroll-behavior: smooth;
      }
      body {
        margin: 0;
        background: #fff;
        -webkit-scrollbar {
          display: none;
        }

        /* background: hsla(186, 33%, 94%, 1);

        background: linear-gradient(
          90deg,
          hsla(186, 33%, 94%, 1) 0%,
          hsla(165, 41%, 56%, 1) 100%
        );

        background: -moz-linear-gradient(
          90deg,
          hsla(186, 33%, 94%, 1) 0%,
          hsla(165, 41%, 56%, 1) 100%
        );

        background: -webkit-linear-gradient(
          90deg,
          hsla(186, 33%, 94%, 1) 0%,
          hsla(165, 41%, 56%, 1) 100%
        );

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#63BDA7", GradientType=1 ); */
      }
      main {
        width: 100%;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      .no-bg {
        background: transparent !important;
      }
      .bg-glassmorphism {
        /* From https://css.glass */
        /* From https://css.glass */
        /* From https://css.glass */
        /* From https://css.glass */
        /* From https://css.glass */
        /* background: rgba(88, 153, 130, 0.56);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px); */
      }
      .scroll-to-top {
        --offset: 50px;

        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));

        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        border-radius: 100px;
        white-space: nowrap;
      }

      .logo {
        height: 8vh;
      }
    </style>
    <script>
      import PrimeReact from "primereact/api";
      PrimeReact.ripple = true;
    </script>
  </body>
</html>
